/* -------  General Styles ------- */

body {
  font-family: "Lato", sans-serif;
}

h2 {
  font-size: 28px;
  font-weight: 400;
  margin: 0 10px 10px 10px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

p {
  line-height: 1.5em;
  margin: 0;
}

section {
  padding: 20px;
}

section.alternate-background {
  background-color: #00a699;
  color: #fff;
  display: flex;
  flex-direction: column;
}

main img {
  width: 100%;
}

/* ---  Groups & Items --- */

.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
}

/* -------  Navigation ------- */

header {
  display: flex;
  background-color: #ff385c;
  padding: 20px 20px 0 20px;
  text-align: center;
  flex-direction: column;
  width: auto;
}

.logo {
  font-family: "Pangolin", cursive;
  font-size: 70px;
  color: #fff;
  width: 100%;
  overflow-wrap: break-word;
}

header nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

header nav ul li {
  list-style-type: none;
  margin-bottom: 8px;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0 20px 0 0;
}

header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}

/* -------  Search Form ------- */
form {
  border: 2px solid #ff385c;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: auto;
  margin: auto;
  flex-wrap: wrap;
}

form label {
  font-weight: bold;
  font-size: 22px;
}

form div {
  display: flex;
  justify-content: space-between;
}

form select, form input {
  margin-bottom: 10px;
  width: 40%;
}

form button {
  background-color: #ff385c;
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 15px;
  width: 100%;
}

/* -------  Footer ------- */

footer {
  background-color: #ff385c;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* -------  Media Query ------- */

@media all and (min-width: 480px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    text-align: left;
  }

  .logo {
    font-size: 30px;
  }

  header nav {
    align-content: left;
  }

  form {
    flex-direction: row;
    flex: 1;
  }

  form label {
    font-size: 20px;
    width: 100%;
  }

  form div {
    flex: 1;
    display: block;
    margin-right: 10px;
  }

  form button {
    flex: 1;
    width: 150px;
  }
  
  form select, form input {
    display: block;
    width: 150px;
  }

  #about .about {
    display: flex;
    flex-direction: row;
  }

  #about .div {
    margin: 0 10px;
    align-items: center;
    padding: 0;
  }

  #ideas .outer {
    display: flex;
  }

  .outer .inner {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex: 1;
  }

  #host .inner {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .box {
    flex: 1;
    margin: 0 5px 0 5px;
  }
}